*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.contact{
    background-color: #f2f3f5;
    height: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}
